           



<div class="sub_form_cont">
 <%= form_for :subscription, url: subscribe_path do |subscribe_form| %>
                        

                        
                            <%= subscribe_form.label :name, 'Name:'%><br>
                            <%= subscribe_form.text_field :name %><br>

                            <%= subscribe_form.label :email, 'E-mail:'%><br>
                            <%= subscribe_form.text_field :email %><br>
                      
                            <%= subscribe_form.submit "Send" %><br>
                      
            <% end %>
</div>