

 <!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF 8">
<link href='https://fonts.googleapis.com/css?family=Ek+Mukta:400,200,300,600,500,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<title>Diqital - Partner in Digital</title>
</head>
<body class="bodyArt">

    <%= render 'navbar' %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
    

<div class="wrapper wrapper_type2_45 white bgb" id="wrapper_contact">

        <div class="overlay_red"></div>
   
        <article class="article_index">
            <div class="container" id="container_form">
            <h3 class="white">Meer weten?</h3><br>
            <p class="tekst">Vrijblijvend eerste consult? Heeft u een vraag? </p><br><br>
            <%= form_for :message, url: contact_path do |message_form| %>
                        

                        <div>
                            <div class="radio_buttons">
                            <%= message_form.radio_button :topic, 'algemeen', :value => 'algemeen' %>
                            <%= label :topic, 'Algemene vragen' %>
                            </div>

                            <div class="radio_buttons">
                            <%= message_form.radio_button :topic, 'press', :value => 'algemeen' %>                        
                            <%= label :topic, 'Voor de pers' %>
                            </div>

                            <div class="radio_buttons">
                            <%= message_form.radio_button :topic, 'business', :value => 'algemeen' %>
                            <%= label :topic, 'Zakelijke vragen' %>
                            </div>
                        </div>

                            <div class="row1">
                            <%= message_form.label :name, 'Naam:'%><br>
                            <%= message_form.text_field :name, class:"full_width"%>
                            </div>
                            
                            <div class="row1">
                            <%= message_form.label :email, 'E-mail:'%><br>
                            <%= message_form.email_field :email, class:"full_width" %>
                            </div>

                            <div class="field">
                            <%= message_form.label :Message, 'Bericht:'%><br>
                            <%= message_form.text_area :content, class: "full_width heightBox" %>
                            </div>
                      
                            <div class="field">
                            <%= message_form.submit "Send" %>
                            </div>
                      
            <% end %>
            <p id="form-tekst">Al uw gegevens zijn vertrouwlijk</p>
            </div>
        </article>

    </div>

    <footer id="footer">
    sitemap
    </footer>

   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>




